/* ys-text-regular */
@font-face {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/text-regular.woff') format('woff');
}

/* ys-text-medium */
@font-face {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 700;
  src: url('./../fonts/text-medium.woff') format('woff');
}

/* ys-text-black */
@font-face {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 900;
  src: url('./../fonts/text-black.woff') format('woff');
}