* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --txt: #21201F;
  --txt-gray: #808080;
  --txt-footer: #C5C5C5;
  --bg-btn: #FFDE40;
}

html {
  font-family: 'YS Text', sans-serif;
  color: var(--txt);
}

.none {
  display: none;
}

.page {
  position: relative;
}

.container {
  margin: 0 auto;
  width: 375px;
  overflow: hidden;
}

@media (max-width: 375px) {
  .container {
    width: 375px;
  }
}


/**********
HEADER
**********/
.header {
  padding: 32px 32px 0 32px;
  height: 636px;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.header__title {
  margin-top: 24px;
  font-weight: 900;
  font-size: 36px;
  letter-spacing: -0.7px;
  line-height: 100%;
}

.header__txt {
  margin-top: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  word-spacing: 0.5px;
}

.header__price {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 23px;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(241, 241, 241, 0.6), rgba(241, 241, 241, 0.6)), radial-gradient(100% 100% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%)
}

.header__new-price {
  display: inline-block;
  text-align: center;
  padding: 0 7px;
  font-size: 18px;
  line-height: 120%;
  border-radius: 20px;
  background: radial-gradient(100% 100% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%)
}

.header__old-price {
  display: inline-block;
  padding: 0 5px;
  font-size: 13px;
  line-height: 120%;
  color: var(--txt-gray);
  text-decoration: line-through;
}

.header__imgs {
  width: 100%;
  height: 307px;
  position: relative;
}

.header__scooter {
  position: absolute;
  top: 17px;
  right: 0px;
  transform: rotate(-8deg);
}

.header__community {
  position: absolute;
  top: 146px;
  left: 73px;
}

.header__overlay {
  position: absolute;
  width: 375px;
  height: 636px;
  left: calc(50% - 375px/2);
  top: 0px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #DA45AC 50%, #8341EF 75%, #3F68F9 100%);
  opacity: 0.22;
}

.header__btn {
  position: fixed;
  bottom: 24px;
  transform: translateX(calc(50% - 124px));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 311px;
  height: 49px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0px;
  border-radius: 36px;
  background-color: var(--bg-btn);
  cursor: pointer;
  z-index: 2;
}
/**********
/HEADER
**********/


.section__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.7px;
}


/**********
ADVANTAGES
**********/
.advantages {
  margin-top: -1px;
  padding: 0 32px;
}

.advantages__items {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 28px;
  height: 431px;
}

.advantages__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 17px;
  justify-content: start;
}

.advantages__img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 83px;
  height: 83px;
}

.advantages__txt {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 118%;
  letter-spacing: 0px;
  word-spacing: 0.2px;
}
/**********
/ADVANTAGES
**********/


/**********
EVENTS
**********/
.events {
  margin-top: 32px;
  padding: 32px;
}

.events__txt {
  margin-top: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
  word-spacing: 0.2px;
}

.events__slider {
  margin-top: 43px;
  position: relative;
  transform: translateX(-15px);
}

.events__slider-img {
  border-radius: 48px;
}

.events__slider-clip {
  position: absolute;
  top: -34px;
  right: -33px;
  transform: rotate(135deg);
}

.blur {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: #C1A4FF;
  filter: blur(20px);
}

.events__slider-arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 12px;
  margin-top: 20px;
}

.events__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--bg-btn);
  cursor: pointer;
}

.events__arrow:first-child {
  transform: rotate(180deg);
}

.arrow-disable {
  opacity: 50%;
  cursor: auto;
}
/**********
/EVENTS
**********/


/**********
BUY
**********/
.buy {
  margin-top: 36px;
  padding: 0 32px;
}

.buy__txt {
  margin-top: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
  word-spacing: 0.2px;
}

.buy__imgs {
  margin-top: 32px;
  height: 306px;
  position: relative;
}

.buy__scooter{
  position: absolute;
  top: 13px;
  left: 60px;
}

.buy__community {
  transform: rotate(-12.68deg) translateX(6px);
}

.buy__ellipse {
  transform: translate(-20px, -320px) rotate(-140deg) ;
}
/**********
/BUY
**********/


/**********
ABONEMENT
**********/
.abonement {
  margin-top: 29px;
  padding: 0 32px;
}

.abonement__txt {
  margin-top: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
  word-spacing: 0.2px;
}

.abonement__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
  width: 311px;
  height: 49px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0px;
  border-radius: 36px;
  background-color: var(--bg-btn);
  filter: drop-shadow(0px 0px 16px var(--bg-btn));
  cursor: pointer;
}
/**********
/ABONEMENT
**********/


/**********
FOOTER
**********/
.footer {
  margin: 72px 32px;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0px;
  word-spacing: 0.2px;
  color: var(--txt-footer);
}
