* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --txt: #21201F;
  --txt-gray: #808080;
}

html {
  font-family: 'YS Text', sans-serif;
  color: var(--txt);
}

.none {
  display: none;
}

.page {
  position: relative;
}

.container {
  margin: 0 auto;
  width: 375px;
}

@media (max-width: 375px) {
  .container {
    width: 375px;
  }
}


/**********
HEADER
**********/

.header {
  margin-bottom: 0px;
  padding: 32px;
  height: 636px;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.header__logo {
  margin-bottom: 24px;
}

.header__title {
  font-weight: 900;
  font-size: 36px;
  letter-spacing: -0.7px;
  line-height: 100%;
  margin-bottom: 25px;
}

.header__text {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
}

.header__price {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 23px;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(241, 241, 241, 0.6), rgba(241, 241, 241, 0.6)), radial-gradient(100% 100% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%)
}

.header__new-price {
  display: inline-block;
  text-align: center;
  padding: 0 7px;
  font-size: 18px;
  line-height: 120%;
  border-radius: 20px;
  background: radial-gradient(100% 100% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%)
}

.header__old-price {
  display: inline-block;
  padding: 0 5px;
  font-size: 13px;
  line-height: 120%;
  color: var(--txt-gray);
  text-decoration: line-through;
}

.header__imgs {
  width: 100%;
  height: 307px;
  position: relative;
}

.header__samokat {
  position: absolute;
  top: 17px;
  right: 0px;
  transform: rotate(-8deg);
}

.header__txt {
  position: absolute;
  top: 146px;
  left: 73px;
}

.header__overlay {
  position: absolute;
  width: 375px;
  height: 636px;
  left: calc(50% - 375px/2);
  top: 0px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #DA45AC 50%, #8341EF 75%, #3F68F9 100%);
  opacity: 0.22;
}

/**********
/HEADER
**********/

.section__title {
  padding-bottom: 32px;
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.7px;
}

/**********
ADVANTAGES
**********/
.advantages {
  padding: 0 32px;
}

.advantages__items {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  background-color: #def;
}

.advantages__item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: #fef;
}

.advantages__img {
  align-items: center;
  width: 83px;
  height: 83px;
  background-color: #5ff;
}

.advantages__txt {
  text-align: left;
}