* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --txt: #21201F;
  --txt-gray: #808080;
  --txt-footer: #C5C5C5;
  --bg-btn: #FFDE40;
}

html {
  font-family: 'YS Text', sans-serif;
  color: var(--txt);
}

.none {
  display: none;
}

.page {
  position: relative;
}

.container {
  margin: 0 auto;
  overflow: hidden;
}

.section__title {
  font-weight: 900;
  line-height: 100%;
}

@media screen and (max-width: 375px) {
  .container {
    width: 375px;
  }

  .section__title {
    font-size: 32px;
    letter-spacing: -0.7px;
  }
}

@media screen and (min-width: 376px) and (max-width: 1439px) {
  .container {
    width: 375px;
  }

  .section__title {
    font-size: 32px;
    letter-spacing: -0.7px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }

  .section__title {
    font-size: 48px;
    letter-spacing: -0.96px;
  }
}

/**********
HEADER
**********/
.header {
  position: relative;
  z-index: -2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.header__title {
  font-weight: 900;
  line-height: 100%;
}

.header__txt {
  font-weight: 500;
  line-height: 125%;
  word-spacing: 0.5px;
}

.header__price {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(241, 241, 241, 0.6), rgba(241, 241, 241, 0.6)), radial-gradient(100% 100% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%)
}

.header__new-price {
  display: inline-block;
  text-align: center;
  line-height: 120%;
  border-radius: 20px;
  background: radial-gradient(100% 100% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%)
}

.header__old-price {
  display: inline-block;
  line-height: 120%;
  color: var(--txt-gray);
  text-decoration: line-through;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  border-radius: 36px;
  background-color: var(--bg-btn);
  cursor: pointer;
}

.header__scooter {
  position: absolute;
  top: 17px;
  left: -10px;
  transform: rotate(-8deg);
}

.header__community {
  position: absolute;
  top: 147px;
  left: 74px;
}

.header__ellipse {
  display: none;
  position: absolute;
  z-index: -1;
  width: 657.8px;
  height: 401.9px;
  top: 50px;
  left: 0px;

  background: #8241EF;
  opacity: 0.5;
  filter: blur(100px);
  border-radius: 11.0115px;
  transform: rotate(-140.03deg);
}

.header__overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -2;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #DA45AC 50%, #8341EF 75%, #3F68F9 100%);
  opacity: 0.22;
}

@media screen and (max-width: 375px) {
  .header {
    padding: 32px 32px 0 32px;
    height: 636px;
  }

  .header__logo {
    width: 112px;
  }

  .header__title {
    margin-top: 24px;
    font-size: 36px;
    letter-spacing: -0.7px;
  }

  .header__txt {
    margin-top: 25px;
    font-size: 18px;
  }

  .header__price {
    height: 23px;
  }

  .header__new-price {
    padding: 0 6px;
    font-size: 18px;
  }

  .header__old-price {
    padding: 0 7px;
    font-size: 13px;
  }

  .header__btn {
    position: fixed;
    bottom: 24px;
    transform: translateX(calc(50% - 155px));
    z-index: 2;
      width: 311px;
    height: 49px;
    font-size: 18px;  
  }

  .header__imgs {
    position: relative;
    width: 100%;
    height: 307px;
  }
  
  .header__scooter {
    width: 320px;
  }

  .header__community {
    width: 83px;
  }

  .header__ellipse {
    display: none;
  }

  .header__overlay {
    height: 636px;
    left: calc(50% - 375px/2);
  }
}

@media screen and (min-width: 376px) and (max-width: 1439px) {
  .header {
    padding: 32px 32px 0 32px;
    height: 636px;
  }

  .header__logo {
    width: 112px;
  }

  .header__title {
    margin-top: 24px;
    font-size: 36px;
    letter-spacing: -0.7px;
  }

  .header__txt {
    margin-top: 25px;
    font-size: 18px;
  }

  .header__price {
    height: 23px;
  }

  .header__new-price {
    padding: 0 6px;
    font-size: 18px;
  }

  .header__old-price {
    padding: 0 7px;
    font-size: 13px;
  }

  .header__btn {
    position: fixed;
    bottom: 24px;
    transform: translateX(calc(50% - 155px));
    z-index: 2;
      width: 311px;
    height: 49px;
    font-size: 18px;  
  }
  
  .header__imgs {
    position: relative;
    width: 100%;
    height: 307px;
  }

  .header__scooter {
    width: 320px;
  }

  .header__community {
    width: 83px;
  }

  .header__ellipse {
    display: none;
  }

  .header__overlay {
    height: 636px;
    left: calc(50% - 375px/2);
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 125px 262px 0 262px;
    height: 804px;
  }

  .header__logo {
    width: 176px;
  }

  .header__title {
    margin-top: 58px;
    font-size: 72px;
    letter-spacing: -1.44px;
  }

  .header__txt {
    margin-top: 30px;
    font-size: 24px;
  }

  .header__price {
    height: 33px;
  }

  .header__new-price {
    padding: 0 10px;
    font-size: 24px;
  }

  .header__old-price {
    padding: 0 15px;
    font-size: 16px;
  }

  .header__btn {
    margin-top: 36px;
    width: 318px;
    height: 65px;
    font-size: 24px;  
  }

  .header__imgs {
    position: absolute;
    top: 93px;
    left: 581px;
    z-index: -1;
  }
  
  .header__scooter {
    top: 0px;
    left: 0px;
    width: 745px;
  }

  .header__community {
    top: 300px;
    left: 190px;
    width: 209px;
  }

  .header__ellipse {
    display: block;
  }

  .header__overlay {
    height: 804px;
    left: calc(50% - 1440px/2);
  }
}
/**********
/HEADER
**********/


/**********
ADVANTAGES
**********/
.advantages__img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 83px;
  height: 83px;
}

@media screen and (max-width: 375px) {
  .advantages {
    margin-top: -1px;
    padding: 0 32px;
  }

  .advantages__items {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 28px;
    height: 431px;
  }

  .advantages__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 17px;
    justify-content: start;
  }

  .advantages__txt {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 118%;
    letter-spacing: 0px;
    word-spacing: 0.2px;
  }
}

@media screen and (min-width: 376px) and (max-width: 1439px) {
  .advantages {
    margin-top: -1px;
    padding: 0 32px;
  }

  .advantages__items {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 28px;
    height: 431px;
  }

  .advantages__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 17px;
    justify-content: start;
  }

  .advantages__txt {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 118%;
    letter-spacing: 0px;
    word-spacing: 0.2px;
  }
}

@media screen and (min-width: 1440px) {
  .advantages {
    margin-top: -4px;
    padding: 0 262px;
  }

  .advantages__title {
    width: 90%;
    font-size: 56px;
    letter-spacing: -1.12px;
  }

  .advantages__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 74px;
    row-gap: 61px;
    margin-top: 40px;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 17px;
    row-gap: 16px;
    justify-content: start;
    width: 400px;
  }

  .advantages__txt {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 118%;
    letter-spacing: 0px;
    word-spacing: 0.2px;
  }
}
/**********
/ADVANTAGES
**********/


/**********
EVENTS
**********/
.events__txt {
  font-weight: 500;
  letter-spacing: 0px;
  word-spacing: 0.2px;
}

.events__clip {
  position: absolute;
  top: -34px;
  right: -33px;
  transform: rotate(135deg);
}

.events__clip-blur {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: #C1A4FF;
  filter: blur(20px);
}

.events__place,
.events__place-blur,
.events__cup,
.events__cup-blur {
  display: none;
}

.events__slider-arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 12px;
  margin-top: 20px;
}

.events__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--bg-btn);
  cursor: pointer;
}

.events__arrow:first-child {
  transform: rotate(180deg);
}

.arrow-disable {
  opacity: 50%;
  cursor: auto;
}

@media screen and (max-width: 375px) {
  .events {
    margin-top: 64px;
    padding: 0 32px;
  }

  .events__txt {
    margin-top: 23px;
    font-size: 16px;
    line-height: 119%;
  }
  
  .events__slider {
    margin-top: 43px;
    position: relative;
    transform: translateX(-15px);
  }

  .events__clip {
    width: 78px;
  }

  .events__slider-img {
    width: 343px;
    border-radius: 48px;
  }
}

@media screen and (min-width: 376px) and (max-width: 1439px) {
  .events {
    margin-top: 64px;
    padding: 0 32px;
  }

  .events__txt {
    margin-top: 23px;
    font-size: 16px;
    line-height: 119%;
  }

  .events__slider {
    margin-top: 43px;
    position: relative;
    transform: translateX(-15px);
  }
  
  .events__clip {
    width: 78px;
  }

  .events__slider-img {
    width: 343px;
    border-radius: 48px;
  }  
}

@media screen and (min-width: 1440px) {
  .events {
    margin-top: 126px;
    padding: 0 262px;
  }

  .events__title {
    width: 90%;
  }

  .events__txt {
    margin-top: 36px;
    width: 442px;
    font-size: 24px;
    line-height: 121%;
  }

  .events__slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: start;
    align-content: start;
    row-gap: 24px;
    column-gap: 22px;
    transform: rotate(2deg) translate(-11px, -150px);
  }

  .events__clip {
    position: absolute;
    top: -71px;
    right: -79px;
    width: 155px;
    transform: rotate(134deg);
  }
  
  .events__clip-blur {
    position: absolute;
    top: 0px;
    right: -30px;
    width: 50px;
    height: 50px;
    background-color: #C1A4FF;
    filter: blur(20px);
  }

  .events__place {
    display: block;
    position: absolute;
    top: 180px;
    left: -180px;
    transform: rotate(-15deg);
    width: 320px;
    z-index: 1;
  }

  .events__place-blur {
    display: block;
    position: absolute;
    top: 300px;
    left: -80px;
    width: 100px;
    height: 100px;
    background-color: #C1A4FF;
    filter: blur(40px);
  }

  .events__cup {
    display: block;
    position: absolute;
    top: 656px;
    right: -191px;
    transform: rotate(0deg);
    width: 398px;
    z-index: 1;
  }

  .events__cup-blur {
    display: block;
    position: absolute;
    top: 900px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: #C1A4FF;
    filter: blur(20px);
  }

  .events__slider-img {
    display: block;
    width: 456px;
    border-radius: 64px;
  }

  .img1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    transform: translateY(228px);
  }
  
  .img2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .img3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .img4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    transform: translateY(228px);
  }

  .events__slider-arrows {
    display: none;
  }
}
/**********
/EVENTS
**********/


/**********
BUY
**********/
.buy__txt {
  margin-top: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
  word-spacing: 0.2px;
}

.buy__imgs {
  margin-top: 32px;
  height: 306px;
  position: relative;
}

.buy__scooter{
  position: absolute;
  top: 13px;
  left: 60px;
}

.buy__community {
  transform: rotate(-12.68deg) translateX(6px);
}

.buy__ellipse {
  transform: translate(-20px, -320px) rotate(-140deg) ;
}

@media screen and (max-width: 375px) {
  .buy {
    margin-top: 68px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 376px) and (max-width: 1439px) {
  .buy {
    margin-top: 68px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .buy {
    margin-top: 300px;
    padding: 0 262px;
  }
}
/**********
/BUY
**********/


/**********
ABONEMENT
**********/
.abonement {
  margin-top: 29px;
  padding: 0 32px;
}

.abonement__txt {
  margin-top: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
  word-spacing: 0.2px;
}

.abonement__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
  width: 311px;
  height: 49px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0px;
  border-radius: 36px;
  background-color: var(--bg-btn);
  filter: drop-shadow(0px 0px 16px var(--bg-btn));
  cursor: pointer;
}
/**********
/ABONEMENT
**********/


/**********
FOOTER
**********/
.footer {
  margin: 72px 32px;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0px;
  word-spacing: 0.2px;
  color: var(--txt-footer);
}



